<nav id="topbar" class="navbar navbar-expand-lg bg-light shadow sticky-top position-sticky" style="z-index: 0">
    <div class="container-fluid d-flex flex-lg-row justify-content-between">
      <!-- Menu icon for smaller screens -->
      <button id="navbar-toggler" class="navbar-toggler d-lg-none me-auto" type="button" onclick="toggleNav()">
        ☰
      </button>
  
      <!-- Left side -->
      <!-- Right side -->
      <div id="nav-topbar-right" class="navbar-nav ms-auto">
        {% if request.user.is_authenticated %}
        {# include notifications here if/when you add them #}
        {% endif %}
        {% include 'appboard/topbar_usermenu_dropdown.html' %}
      </div>
    </div>
  
    <script>
      function toggleNav() {
        document.getElementById("nav-topbar-left").classList.toggle("show");
      }
    </script>
  </nav>