<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document Storage - LifeFlow</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'index.css' %}?v=2">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="container">
    <aside>
      <div class="user">
        <i class='bx bx-user'></i>
      </div>
      <nav class="nav">
        <ul class="nav-links">
          <li><a href="{% url 'TaskManager' %}"><i class='bx bx-grid-alt'></i><span>Task Manager</span></a></li>
          <li><a href="{% url 'calender' %}"><i class='bx bx-calendar'></i><span>Calendar</span></a></li>
          <li><a href="{% url 'DocumentStorage' %}"><i class='bx bx-folder'></i><span>Document Manager</span></a></li>
          <li><a href="{% url 'Subscription' %}"><i class='bx bx-cloud-download'></i><span>Subscription Tracker</span></a></li>
          <li><a href="{% url 'BillManager' %}"><i class='bx bx-receipt'></i><span>Bill Manager</span></a></li>
          <li><a href="{% url 'HealthManager' %}" class="active"><i class='bx bx-dumbbell'></i><span>Health Manager</span></a></li>
        </ul>
        <div class="collapse-btn">
          <a href="#" data-resize-btn>
            <i class='bx bx-chevrons-right'></i><span>Collapse</span>
          </a>
        </div>
        <div class="logout-btn">
          <a href="{% url 'login' %}">
            <i class='bx bx-log-out'></i><span>Logout</span>
          </a>
        </div>
      </nav>
    </aside>

    <main class="content">
      <header class="header">
        <div class="date">Monday, December 14, 2025</div>
        <h1>Document Storage</h1>
      </header>

        <section class="subscription-list">
          <div class="subscription-item">
            <div class="details">
              <h3>Passport</h3>
              <p>ID: 123456789</p>
              <p>Expiry: 12/12/2030</p>
            </div>
          </div>

          <div class="subscription-item">
            <div class="details">
              <h3>Driver's License</h3>
              <p>ID: DL98765432</p>
              <p>Expiry: 10/10/2027</p>
            </div>
          </div>

          <div class="subscription-item">
            <div class="details">
              <h3>Student ID</h3>
              <p>ID: S123456</p>
              <p>Expiry: 30/06/2026</p>
            </div>
          </div>

          <div class="subscription-item add-new">
            <h3>＋</h3>
          </div>
        </section>
      </div>

    </main>
  </div>

  <script>
    const resizeBtn = document.querySelector("[data-resize-btn]");
    resizeBtn.addEventListener("click", function (e) {
      e.preventDefault();
      document.body.classList.toggle("sb-expanded");
    });
  </script>
</body>
</html>
