<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Tracker - LifeFlow</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}?v=2">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
      <aside>
        <nav class="nav">
          <ul class="nav-links">
            <li>
              <a href="{% url 'UserProfile' %}" {% if request.resolver_match.url_name == 'TaskManager' %}{% endif %}>
                <i class='bx bx bx-user'></i><span>{{ user.username }}</span>
              </a>
            </li>
            <li>
              <a href="{% url 'TaskManager' %}" {% if request.resolver_match.url_name == 'TaskManager' %}class="active"{% endif %}>
                <i class='bx bx-grid-alt'></i><span>Task Manager</span>
              </a>
            </li>
            <li>
              <a href="{% url 'calender' %}" {% if request.resolver_match.url_name == 'calender' %}class="active"{% endif %}>
                <i class='bx bx-calendar'></i><span>Calendar</span>
              </a>
            </li>
            <li>
              <a href="{% url 'DocumentStorage' %}" {% if request.resolver_match.url_name == 'DocumentStorage' %}class="active"{% endif %}>
                <i class='bx bx-folder'></i><span>Document Manager</span>
              </a>
            </li>
            <li>
              <a href="{% url 'Subscription' %}" {% if request.resolver_match.url_name == 'Subscription' %}class="active"{% endif %}>
                <i class='bx bx-cloud-download'></i><span>Subscription Tracker</span>
              </a>
            </li>
            <li>
              <a href="{% url 'BillManager' %}" {% if request.resolver_match.url_name == 'BillManager' %}class="active"{% endif %}>
                <i class='bx bx-receipt'></i><span>Bill Manager</span>
              </a>
            </li>
            <li>
              <a href="{% url 'HealthManager' %}" {% if request.resolver_match.url_name == 'HealthManager' %}class="active"{% endif %}>
                <i class='bx bx-dumbbell'></i><span>Health Manager</span>
              </a>
            </li>
            <li>
            <a href="{% url 'dashboard' %}" {% if request.resolver_match.url_name == 'dashboard' %}class="active"{% endif %}>
              <i class='bx bx-layout'></i><span>Dashboard</span>
            </a>
          </li>
          </ul>
          <div class="collapse-btn">
            <a href="#" data-resize-btn>
              <i class='bx bx-chevrons-right'></i><span>Collapse</span>
            </a>
          </div>
          <div class="logout-btn">
            <a href="{% url 'login' %}">
              <i class='bx bx-log-out'></i><span>Logout</span>
            </a>
          </div>
        </nav>
      </aside>

      <main class="content">
        <header class="header">
          <div class="date">Monday, December 14, 2025</div>
          <h1>Subscription Tracker</h1>
        </header>

        <div class="subscription-layout">

          <section class="subscription-list">
            <div class="subscription-item">
              <div class="details">
                <h3>Netflix</h3>
                <div class="status canceled"></div>
                <p>Cost: $80 / Monthly</p>
              </div>
            </div>

            <div class="subscription-item">
              <div class="details">
                <h3>LinkedIn Premium</h3>
                <div class="status active"></div>
                <p>Cost: $260 / Annual (expires 01/12/25)</p>
              </div>
            </div>

            <div class="subscription-item">
              <div class="details">
                <h3>Uber Eats Premium</h3>
                <div class="status suspended"></div>
                <p>Cost: $40 / Fortnightly</p>
              </div>
            </div>
            <a href="{% url 'add_item' 'subscription' %}" class="add-btn">
              <i class='bx bx-plus'></i> 
            </a>
          </section>

          <section class="chart-section">
            <div class="chart">
              <div class="bar red" style="height: 80px;"><span>$80</span></div>
              <div class="bar green" style="height: 260px;"><span>$260</span></div>
              <div class="bar yellow" style="height: 40px;"><span>$40</span></div>
            </div>
            <div class="total-cost">Annual Cost = $1100</div>
          </section>

          
          

        </div>
      </main>
    </div>

    <script>
      const resizeBtn = document.querySelector("[data-resize-btn]");
      resizeBtn.addEventListener("click", function (e) {
        e.preventDefault();
        document.body.classList.toggle("sb-expanded");
      });
    </script>
</body>
</html>